@tailwind base;
@tailwind components;
@tailwind utilities;

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

ol li::marker {
  @apply text-primary-1 font-bold;
}

li {
  @apply pl-2 mb-2;
}

ol,
ul {
  @apply pl-5;
}

h2 {
  @apply text-primary-2 font-bold text-3xl mb-5;
}

h3{
  @apply text-primary-2 font-bold text-xl mb-3;
}